## Read the data & Inspect the columns

In [2]:
import pandas as pd
import numpy as np

data1 = pd.read_csv('Physician_Compare_2015_Group_Public_Reporting___Performance_Scores.csv',low_memory = False)
data2 = pd.read_csv('Physician_Compare_2015_Group_Public_Reporting_-_Patient_Experience.csv',low_memory = False)
data3 = pd.read_csv('Physician_Compare_2015_Individual_EP_Public_Reporting___Performance_Scores.csv',low_memory = False)
data4 = pd.read_csv('Physician_Compare_National_Downloadable_File.csv',low_memory = False)

In [3]:
data1.head(1)

,Organization legal name or 'doing business as' name,Group PAC ID,State,Participating in PQRS,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Footnote,Reporting Mechanism,Reported on PC Live Site
0,GLEN BURNIE PHYSICAL THERAPY AND SPORTSCARE LLC,42102592,MD,NaN,PQRS_GRP_131_1,Pain Assessment and Follow-Up,N,99.0,NaN,REG,Y

In [4]:
data2.head(1)

,Organization legal name or 'doing business as' name,Group PAC ID,State,Measure Identifier,Measure Title,Measure Performance Rate,Footnote
0,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,CAHPS_GRP_1,"Getting timely care, appointments, and informa...",63.0,NaN

In [5]:
data3.head(1)

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Reporting Mechanism,Reported on PC Live Site
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,21,CLM,Y

In [6]:
data4.head(1)

,NPI,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
0,1487927612,4880850486,I20120726000331,HALL,ESTHER,S,NaN,F,NaN,LIFE CHIROPRACTIC COLLEGE - WEST,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN

## Calculate the number of clinicians

In [7]:
null_NPI = data3.iloc[:,0].isnull().sum()
null_PACID = data3.iloc[:,1].isnull().sum()
unique_NPI = data3.iloc[:,0].unique()
unique_PACID = data3.iloc[:,1].unique()
unique_NPI_num = len(unique_NPI) - null_NPI
unique_NPI_num = len(unique_PACID) - null_PACID
print('number of clinicians based on NPI:', unique_NPI_num)
print('number of clinicians based on PAC ID:', unique_NPI_num)

number of clinicians based on NPI: 180723
number of clinicians based on PAC ID: 180723

From the result, we can condident to use either NPI or PAC ID as a candidate key to locate people.

In [8]:
credential_list = data4['Credential'].value_counts().keys()
print(data4.groupby(['Credential'])['Gender'].count())

Credential
AA        523
AU       2476
CNA     28491
CNM      2214
CNS      2216
CP      13499
CSW     15280
DC      22090
DDM       429
DDS      1058
DO      42374
DPM     14467
MD     710711
MNT      1529
NP      48307
OD      20208
OT       2572
PA      62105
PSY       243
PT      22813
SCW         1
Name: Gender, dtype: int64